

            <div class="alert alert-warning" role="alert" id="mensagemAlert" style="display: block;"></div>

            <footer class="bg-light p-3 mt-4 text-center">
                <p>&copy; CEUB - Sistema de Gerenciamento de Ocorrências</p>
            </footer>
        </div>
    </body>
</html>
