<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEUB</title>

        <!-- Inclua o Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
        <!-- Estilo personalizado -->
        <style>
            /* Adicione seus estilos personalizados aqui */
            body {
                display: flex;
                height: 100vh;
            }
            #sidebar {
                width: 250px;
                padding: 10px;
                background-color: #ab1c80;
            }
            #sidebar a {
                color: white;
                display: block;
                padding: 10px;
                text-decoration: none;
            }
            #sidebar a:hover {
                background-color: #ab1c80;
            }
            #content {
                flex-grow: 1;
                padding: 20px;
            }


            hr:not([size]) {
                height: 1px;
            }
            hr {
                margin: 1rem 0;
                color: inherit;
                background-color: currentColor;
                border: 0;
                opacity: .25;
            }
            
         
        </style>
    </head>
    <body>
        
        <!-- Menu lateral -->
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white " style="width: 300px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="../../img/marca_versões_positiva.png"  width="150px"/>
            </a>
            
            <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        Ocorrências
                    </a>
                    </li>
                    <li>
                    <a href="#" class="nav-link text-white">
                        Ccadastros
                    </a>
                    </li>
                    
                    <li>
                    <a href="#" class="nav-link text-white">
                        Sair
                    </a>
                    </li>
                </ul>
           

            <hr>
            
            <div class="dropdown">
                
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://avatars.githubusercontent.com/u/11243840?v=4" alt="" width="32" height="32" class="rounded-circle me-2">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                &nbsp;<strong> <%= session.usuario.nmPessoa %></strong>
                            </div>
                            <div class="row">
                                &nbsp;<strong>RA: 2018227</strong>
                            </div>
                        </div>
                    </div>
                
                    <!-- <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul> -->
            </div>

        </div>

        <!-- Conteúdo principal -->
        <div id="content">
            <!-- Informação no topo -->
            <div class="mb-4">
                <h1><%- tituloCabecalho %></h1>
                
            </div>