<%- include ('../layouts/header') %>

    <div class="row">
        
        <!-- Minhas Ocorrências -->
        <div class="col-md-12 mb-4">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia">
                    <h5 class="card-title "><%= subCabecalho %></h5>
                </div>
                <div class="card-body">

                   
                    <form class="g-3 needs-validation" action="<%- rota %>" method="post" id="formPessoaManter" novalidate>
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="txtnmPessoa" class="form-label">Curso</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="txtnmPessoa" name="txtnmPessoa" class="form-text" aria-label="Nome"></select>
                            </div>
                        </div>


                        <!-- <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="ddlOcorrenciaTipo" class="form-label">Tipo de Ocorrência</label>
                            </div>
                            <div class="col-md-10">
                                <select id="ddlOcorrenciaTipo" stype="border-color: red;" name="ddlOcorrenciaTipo" class="form-select form-select-lg" aria-label="Tipo Ocorrência" required></select>
                                <div id="ddlOcorrenciaTipo_alert" class="errorMensageAlert text-danger"></div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="ddlOcorrenciaSubTipo" class="form-label">Sub Tipo Ocorrência</label>
                            </div>
                            <div class="col-md-10 warning">
                                <select id="ddlOcorrenciaSubTipo" name="ddlOcorrenciaSubTipo" class="form-select form-select-lg" aria-label="Sub Tipo Ocorrência" required>
                                    <option value="0">Selecione o Tipo de Ocorrência</option>
                                </select>
                                <div id="ddlOcorrenciaSubTipo_alert" class="errorMensageAlert text-danger"></div>
                            </div>
                        </div> -->
                        
                        <button type="submit" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Salvar</button> 
                        <button type="button" id="btnPessoaCancelar" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Cancelar</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
   
    <script src="/javascript/ocorrenciaManter_javaScript.js"></script>

<%- include ('../layouts/footer') %>