
        <div class="col-md-12 mb-4" id="divCardsPrincipal">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia d-flex justify-content-between align-items-center" >
                    <h5 class="card-title mb-0">Pessoas Cadastradas</h5>
                    <a class="card-link ml-auto" data-toggle="collapse" href="#divCardOcorrencia"><i class="fa-solid fa-chevron-up fa-lg" style="color:white"></i></a>
                </div>
                <div id="divCardOcorrencia" class="collapse show" data-parent="#divCardsPrincipal">
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Foto</th>
                            </tr>
                            </thead>
                            <tbody>

                                <% 
                                    pessoasList.forEach(pessoa => { 
                                %>
                                        <tr>
                                            <td><%= pessoa.nmPessoa %></td>
                                            
                                            <td>
                                                <%= pessoa.nuCPF %>
                                            </td>
                                            <td>
                                                <img src="<%- pessoa.urlFoto %>" alt="" width="35" height="35" class="rounded-circle  d-none d-md-block">
                                            </td>
                                        </tr>
                                <%
                                   });

                                %>  
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btnPessoaIncluirInit" class="btn card-header-ocorrencia hover:bg-fuchsia-700"><i class="fa-solid fa-plus"></i> incluir</button>
                    </div>
                </div>
            </div>
        </div>
        
